* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-sarif';
}

li {
    list-style-type: none;
}

.con {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .hr1 {
    border: 1px solid black;
}

.container .hr2 {
    border: 0.5px solid black;
}

.container .total .ul {
    position: relative;
    margin-left: 36rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.container .total .ul #p {
    color: rgb(138, 138, 10);
    font-weight: bold;
}

span {
    padding: 10px 15px;
}

/* media query  */

@media(max-width: 768px) {
    .container .total .ul {
        margin-left: 20rem;
    }
}